<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" parallel="tests" thread-count="1">

    <test name="Allure test">
        <classes>

            <class name="tests.MainPageTest">
                <methods>
                    <include name="checkForUAHCurrencySign"></include>
                </methods>
            </class>
        </classes>
    </test>

    <!--<test name="Tests On Chrome">-->
        <!--<parameter name="browser" value="chrome"/>-->
        <!--<classes>-->
            <!--<class name="tests.MainPageTest"/>-->
            <!--<class name="tests.SearchPageTest"/>-->
        <!--</classes>-->
    <!--</test>-->

    <!--<test name="Tests On Firefox">-->
        <!--<parameter name="browser" value="firefox"/>-->
        <!--<classes>-->
            <!--<class name="tests.MainPageTest"/>-->
            <!--<class name="tests.SearchPageTest"/>-->
        <!--</classes>-->
    <!--</test>-->

    <!--<test name="Tests On IE">-->
        <!--<parameter name="browser" value="ie"/>-->
        <!--<classes>-->
            <!--<class name="tests.MainPageTest"/>-->
            <!--<class name="tests.SearchPageTest"/>-->
        <!--</classes>-->
    <!--</test>-->

</suite>